################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MetadataApi/obj
/.vs/MetadataApi
